@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$primary-color: #ffffff;

//Colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;
$off-black: #030000;

html, body {
  font-family: $font;
  font-size: 16px;
  color: $primary-color;
}

//cleanup
.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}

//Header
header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            a {
                font-size: 1.2rem;
                font-weight: 700;
                text-decoration: none;
                color: $black;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    font-size: 1rem;
                    color: $black;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

//footer
footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .left {
            display: flex;
            .big {
                height: 100%;
                align-self: end;
                margin: 0 20px;
                font-size: 3rem;
                font-weight: 700;
            }
            .small {
                align-self: flex-end;
                height: 100%;
                text-decoration: none;
                color: $white;
                
                &:last-child {
                    margin-right: 0px;
                }
            }
            
        }
        .socials {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 700;
                    color: $white;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }

}

//Banner
.banner {
    height: 100vh;
    width: 100%;
    top: 0px;
    position: relative;

    background-color:$off-white;
    .main-text {
        position: absolute;
        font-size: 5.8rem;
        font-weight: 700;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50);
        text-align: center;
        z-index: 1;
    }

    .parallax-image {
        position: relative;
        .wrapper {
            position: absolute;
            //height: 50px;
            width: 100%;
        }
        .fourth, .third {
            z-index: 0;
        }
        .second, .first {
            z-index: 2;
        }

        .blur {
            //position: absolute;
            width: 100%;
            height: 200px;
            background-color: #030000;
            
            bottom: 0%;
            z-index: 3;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#999999+0,030000+100&0+0,1+100 */
            background: -moz-linear-gradient(top,  rgba(153,153,153,0) 0%, rgba(3,0,0,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(3,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(153,153,153,0) 0%,rgba(3,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#030000',GradientType=0 ); /* IE6-9 */
    
    
        }
    }
    
}

//index-blurb
.about-blurb {
    height: 100vh;
    margin-top: -10vh;
    width: 100%;
    z-index: 0;
    //transform: translateY(-10vh);
    position: relative;
    //background-color: $off-black;

    background: -moz-linear-gradient(top,  rgba(153,153,153,0) 0%, rgba(3,0,0,1) 30vh); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(3,0,0,1) 30vh); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(153,153,153,0) 0%,rgba(3,0,0,1) 30vh); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#030000',GradientType=0 ); /* IE6-9 */

    z-index: 3;
    .container {
        height: 100%;
        .inner-container{
            //transform: translateY(10%);
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            justify-content: center;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            .image-container {
            
                display: flex;
                flex-wrap: wrap;
                .row{
                    display: flex;
                    justify-content: center;

                    .image-box-wrapper {
                        margin: 10px;
                        position: relative;
                        justify-content: center;
                        flex-direction: column;
                        height: 18vh;
                        width: 45%;
                        object-fit: cover;
                        overflow: hidden;
                        border-radius: 5px;
                        img {
                            
                            width: 100%;
                            height: 100%;
                            object-fit: cover;                           
                            opacity: 0;
                        }
                        h4 {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 1.8rem;
                            letter-spacing: 1.75px;
                        }
                    }
                }
            }
            .text-blurb {
                text-align: center;
                padding-top: 40px;
            }
        }
    }
}